* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
    border: none;
    outline: none;
}
*:focus {
    border: none;
    outline: none;
}
body {
    height: 100vh;
    background: #181818;
}
.header {
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    background: rgb(33 33 33);
    position: fixed;
    top: 0;
}
.burger {
    background: rgb(33 33 33);
    height: 35px;
    width: 35px;
    padding: 7px;
    border-radius: 50px;
    fill: #fff;
}
.burger-onclick {
    background-color: #313131;
    /* transition-duration: 200ms; */
}





.list {
    height: 100%;
    margin-top: 49px;
    background: rgb(33 33 33);
    width: 220px;
    /* height: 100%; */
    position: fixed;
    top: 0;
    padding: 7px;
    /* width: 100%; */
    display: flex;
    
    flex-direction: column;
}
.list > section {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding: 10px 0;
}
.items div {
    padding: 5px;
}
.items div a {
    font-size: 14px;
    color: #fbfbfb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subhead-main-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 49px 0 0 240px;
}
.header-cont {
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid white; */
    height: 20px;
}
.searchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.cont-query-button {
    background: #313131;
    padding: 5px 20px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 2px;
}
.query-button {
    /* border: 1px solid blue; */
    height: 24px;
    /* padding: 15px 30px; */
    background: #313131;
    /* border: none;
    outline: none; */
    /* padding: 5px 15px; */
}
.svg {
    fill: #fff;
}
.voice-search-button {
    display: flex;
    margin-left: 4px;
    align-items: center;
    
}
.voice-button {
    height: 35px;
    width: 35px;
    padding: 7px;
    border-radius: 50%;
    background: #181818;
}
.input {
    width: 100%;
    background: hsl(0deg 0% 7%);
    box-sizing: border-box;
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #fbfbfb;
    padding: 2px;
}

.form-input-cont {
    width: 100%;
    background: hsl(0deg 0% 7%);
    padding: 3px;
    /* border: 1px solid green; */
    border: 1px solid #313131;

    display: flex;
    align-items: center;
}
.header-container-2 {
    width: 40%;
}


#items > div {
    padding: 5px;
}
#items a {
    color: #fbfbfb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.main-subhead-cont {
    width: 100%;
    height: 100%;

}
.subhead-menu {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    white-space: nowrap;
}
.sub-header-cont {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;
    background: #202020;
    border-top: 1px solid rgb(255 255 255 / 10%);
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    position: sticky;
    top: 49px;
}
.subhead-elem {
    border-radius: 50px;
    border: 1px solid rgb(255 255 255 / 10%);
    background: #373737;
    /* height: max-content; */
    margin: 5px;
    padding: 5px 12px;
}
.subhead-elem:hover {
    background: #4d4d4d;
    border: 1px solid rgba(255, 255, 255, 0.211);
    transition: 400ms;
}
.subhead-elem a {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
main.main {
    background: #181818;
    width: 100%;
    height: 100%;
    color: white;
}
.main section {
    font-size: 14px;

}