* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* font-size: 12px; */
    border: none;
    outline: none;
}
*:focus {
    border: none;
    outline: none;
}
body {
    height: 100vh;
    background: #181818;
}
.header {
    padding: 7px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    background: rgb(33 33 33);
    position: fixed;
    top: 0;
    z-index: 100;
}
.burger {
    background: rgb(33 33 33);
    height: 35px;
    width: 35px;
    padding: 7px;
    border-radius: 50px;
}
.burger-onclick {
    background-color: #696969;
    transition-duration: 200ms;
}

.header-icon-cont {
    height: 24px;
    margin-left: 18px;
}

.list {
    height: 100%;
    margin-top: 49px;
    background: rgb(33 33 33);
    width: 220px;
    /* height: 100%; */
    position: fixed;
    top: 0;
    padding: 7px;
    /* width: 100%; */
    display: flex;
    
    flex-direction: column;
}
.list > section {
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    padding: 10px 0;
}


.subhead-main-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 49px 0 0 70px;
}
.header-cont {
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid white; */
    height: 20px;
}
.searchbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.cont-query-button {
    background: #313131;
    padding: 5px 20px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 2px;
}
.query-button {
    /* border: 1px solid blue; */
    height: 24px;
    /* padding: 15px 30px; */
    background: #313131;
    /* border: none;
    outline: none; */
    /* padding: 5px 15px; */
}
.svg {
    fill: #fff;
}
.voice-search-button {
    display: flex;
    margin-left: 4px;
    align-items: center;
    
}
.voice-button {
    height: 35px;
    width: 35px;
    padding: 7px;
    border-radius: 50%;
    background: #181818;
}
.input {
    width: 100%;
    background: hsl(0deg 0% 7%);
    box-sizing: border-box;
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #fbfbfb;
    padding: 2px;
}

.form-input-cont {
    width: 100%;
    background: hsl(0deg 0% 7%);
    padding: 3px;
    /* border: 1px solid green; */
    border: 1px solid #313131;

    display: flex;
    align-items: center;
}
.header-container-1 {
    margin-left: 7px;
}
.header-content-1, .sidebar-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-container-2 {
    width: 40%;
}

/* #items > div {
    padding: 5px;
} */


.main-subhead-cont {
    width: 100%;
    height: 100%;

}
.subhead-menu {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    white-space: nowrap;
}
.sub-header-cont {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 49px;
    background: #202020;
    border-top: 1px solid rgb(255 255 255 / 10%);
    border-bottom: 1px solid rgb(255 255 255 / 10%);
    position: sticky;
    top: 49px;
    z-index: 100;
}
.subhead-elem {
    border-radius: 50px;
    border: 1px solid rgb(255 255 255 / 10%);
    background: #373737;
    /* height: max-content; */
    margin: 5px;
    padding: 5px 12px;
}
.subhead-elem:hover {
    background: #4d4d4d;
    border: 1px solid rgba(255, 255, 255, 0.211);
    transition: 400ms;
}
.subhead-elem a {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #fff;
}
.h-link {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    /* line-height: 2rem; */
    font-weight: 600;
    /* max-height: 4rem; */
    overflow: hidden;
}
.name-of-channel {
    color: #aaa;
    font-size: 13px;
    /* line-height: 2rem; */
    overflow: hidden;

    
    font-weight: 500;
    font-family: "Roboto","Arial",sans-serif;
}
main.main {
    background: #181818;
    width: 100%;
    height: 100%;
    color: white;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}
.main section {
    font-size: 14px;

}
.svg-icon {
    margin: auto;
    margin-bottom: 6px;
    height: 24px;
    width: 24px;
    display: flex;
    /* align-content: center;
    align-items: center; */
}
.sidebar-span {
    color: #fbfbfb;
    
}
.sidebar-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.minisidebar-item {
    width: 100%;
    padding: 14px 0;
}
.minisidebar-item:hover {
    background-color: #313131;
}


.row-elements {
    width: 100%;
    display: flex;
    justify-content: center;
}
.el-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px;
    /* align-items: center; */
    justify-content: space-around;
}
.contents-item {
    margin: 0 8px 40px 8px;

    /* width: 30%; */
}
.content {
    display: flex;
    width: 100%;
    justify-content: center;
}
.media-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.el-thumbnail {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.video-link {
    display: block;
    position: relative;
    width: 100%;
}
.video-element {
    /* height: 100%; */
    width: 280px;
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
.video {
    max-width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
}
iframe {
    max-width: inherit;
}

.overlay-time-status {
    position: absolute;
    background-color: #313131e2;
    border-radius: 2px;
    padding: 3px 4px;
    height: 12px;
    margin: 4px;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 600;
}
.details {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.avatar-link {
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
    cursor: pointer;
}
.logo-cont {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    overflow: hidden;
    background-color:#aaa;
}
.logo-cont img {
    height: 36px;
    width: 36px;
}

.meta-details {
    overflow-x: hidden;
    padding-right: 24px;
    cursor: pointer;
}
.video-h {
    margin: 12px 0 4px 0;
    font-size: 1.17em;
    cursor: pointer;
}
.h-link {
    cursor: pointer;
}
.media-details-block {
    display: flex;
    flex-direction: column;
}

.line-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.official-icon {
    width: 14px;
    height: 14px;
    margin: 0 5px;
}